<div class="container">
  <div class="mycard2">
        <div class="card mb-12" style="max-width: 100%;">
         <div class="row no-gutters">
        <div class="col-md-3">
        <img src="https://content.techgig.com/thumb/msid-72167545,width-860,resizemode-4/Blockchain-Technology-What-and-How.jpg?261678" class="card-img rounded-circle"width="600%"height="100%" alt="...">
    </div>
        <div class="col-md-8">
        <div class="card-body">
        <h5 class="card-title">Full Stack Development Program</h5>
        <p class="card-text">Accelerated Blockchain Development Program(ABCD) is a technology training programme  facilitated by Govt. of Kerala, that will be of high industry relevance in the coming years.By going through the program, students will be able to achieve multiple levels of certification.Full Stack Developer Certificate is issued by KDISC (Govt. of Kerala) and ICTAK. Block chain certificate will be issued by Kerala Block chain Academy and KDISC (Govt. of Kerala).</p>
        <a class="btn btn-primary"routerLink="/register">Register</a>
      </div>
    </div>
  </div>
</div></div>
<div class="mycard2">
<div class="card mb-12" style="max-width: 100%;">
  <div class="row no-gutters">
 <div class="col-md-3">
 <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcR0i4Wej-cwSOFqn0bITHFcrH5Sy_Zc5SVbfw&usqp=CAU" class="card-img rounded-circle"width="600%"height="100%" alt="...">
</div>
 <div class="col-md-8">
 <div class="card-body">
 <h5 class="card-title">Robotic Process Automation</h5>
 <p class="card-text">Robotic Process Automation (RPA) is the use of software with Artificial Intelligence (AI) and machine learning capabilities to handle high-volume, repeatable tasks that previously required humans to perform.One of the biggest advantages of robotic process automation is the immediate and significant reduction in expenditure it can deliver.With RPA, the work is performed error-free. Better quality means higher satisfaction rates, which – again – is good for your company’s profitability.</p>
 <a routerLink="/register" class="btn btn-primary">Register</a>
</div>
</div>
</div>
</div></div>
<div class="mycard2">
<div class="card mb-12" style="max-width: 100%;">
  <div class="row no-gutters">
 <div class="col-md-3">
 <img src="https://assets.entrepreneur.com/content/3x2/2000/20191112054904-FotoJet32.jpeg" class="card-img rounded-circle"width="600%"height="100%" alt="...">
</div>
 <div class="col-md-8">
 <div class="card-body">
 <h5 class="card-title">Digital Marketing</h5>
 <p class="card-text">Digital marketing encompasses all  marketing efforts that use an electronic device or the internet .Businesses leverage digital channels such as search engines, and their websites to connect with prospective customers. It is the use of the Internet, mobile devices, social media, search engines, and other channels to reach consumers.There is massive growth in how digital marketing budgets have grown over the years and are expected to take the lion's share of marketing budgets in 2020.</p>
 <a routerLink="/register" class="btn btn-primary">Register</a>
</div>
</div>
</div>
</div></div>
<div class="mycard2">
<div class="card mb-12" style="max-width: 100%;">
  <div class="row no-gutters">
 <div class="col-md-3">
 <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTWfRzMm-w4VtqqVr0h-d_6AkmdbGnA_8FyVQ&usqp=CAU" class="card-img rounded-circle"width="600%"height="100%" alt="...">
</div>
 <div class="col-md-8">
 <div class="card-body">
 <h5 class="card-title">Certified Specialist in Machine Learning and Artificial Intelligence</h5>
 <p class="card-text">Machine Learning jobs are high in demand and continue to be the winners in today’s world. This course is complemented with the Data science course offering students a wider platform of recognition of Diploma in both the fields.A computer is able to learn from experience without being explicitly programmed and hence the phenomenon of machine learning took it position in global markets. The popular data science methodologies come from machine learning.</p>
 <a routerLink="/register" class="btn btn-primary">Register</a>
</div>
</div>
</div>
</div></div>
<div class="mycard2">
<div class="card mb-12" style="max-width: 100%;">
  <div class="row no-gutters">
 <div class="col-md-3">
 <img src="https://nadia-training.com/wp-content/uploads/2017/12/Certification-in-Data-Science-Analytics.jpg" class="card-img rounded-circle"width="600%"height="100%" alt="...">
</div>
 <div class="col-md-8">
 <div class="card-body">
 <h5 class="card-title">Certified Professional in Data Science & Analytics</h5>
 <p class="card-text">Data Science and Analytics are amongst the Top 5 IT Jobs . One of the worlds famous tech group, CIO.com predicts that the skills around Data Science will remain as popular for the next few years.Data Scientists is a breed of data experts who have the technical skills to solve complex problems whereas analytics interpret data and turn it into information which can offer ways to improve a business.So it’s no surprise many people are clamoring to find how to learn data science and analytics.</p>
 <a routerLink="/register" class="btn btn-primary">Register</a>
</div>
</div>
</div>
</div></div>
<div class="mycard2">
<div class="card mb-12" style="max-width: 100%;">
  <div class="row no-gutters">
 <div class="col-md-3">
 <img src="https://www.himflax.com/images/service/VR-AR-dude.jpg" class="card-img rounded-circle"width="600%"height="100%" alt="...">
</div>
 <div class="col-md-8">
 <div class="card-body">
 <h5 class="card-title">Augmented Reality / Virtual Reality (AR/VR)</h5>
 <p class="card-text">Augmented reality (AR) is an interactive experience of a real-world environment where the objects that reside in the real world are enhanced by computer-generated perceptual information, sometimes across multiple sensory modalities, including visual, auditory, haptic, somatosensory and olfactory.An undergraduate or postgraduate degree in any of the above could be really helpful for getting your foot in the door, especially with big companies.</p>
 <a routerLink="/register" class="btn btn-primary">Register</a>
</div>
</div>
</div>
</div>
</div>
</div>