
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div id="navbar" class="container-fluid">
          <div class="container nav-fill w-100">
            
              <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarContent">
                <ul class="navbar-nav nav-fill w-100">
                  <li class="nav-item">
                    <a class="nav-link" routerLink=""routerLinkActive="active" role="button" class="btn btn-default">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" routerLink="courses"routerLinkActive="active" role="button" class="btn btn-default">Courses</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link"routerLink="aboutus"routerLinkActive="active" role="button" class="btn btn-default">About Us</a>
                  </li> 
                  <li class="nav-item">
                    <a class="nav-link"routerLink="contactus"routerLinkActive="active" role="button" class="btn btn-default">Contact Us</a>
                  </li>
                  
      </ul>
              </div>
               </div>
        </div>
        </nav>

        
