
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div id="navbar" class="container-fluid">
          <div class="container nav-fill w-100">
            
              <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarContent">
                <ul class="navbar-nav nav-fill w-100">
                  <li class="nav-item">
                    <a class="nav-link" routerLink=""routerLinkActive="active" role="button" class="btn btn-default">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" routerLink="courses"routerLinkActive="active" role="button" class="btn btn-default">Courses</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link"routerLink="aboutus"routerLinkActive="active" role="button" class="btn btn-default">About Us</a>
                  </li> 
                  <li class="nav-item">
                    <a class="nav-link"routerLink="contactus"routerLinkActive="active" role="button" class="btn btn-default">Contact Us</a>
                  </li>
                  <li class="nav-item  inline px-3  pr-5">
                    <a class="nav-link" routerLink="login"routerLinkActive="active"><button class="btn btn-primary">Login</button></a>
                </li>    
      </ul>
              </div>
               </div>
        </div>
        </nav>

        <!-- <nav class="navbar navbar-expand-lg navbar-light bg-warning">
          <nav class="navbar sticky-top navbar-dark bg-warning">
         <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        </nav> 
            <div class="navbar-translate">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#example-navbar-success" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-bar bar1"></span>
                  <span class="navbar-toggler-bar bar2"></span>
                  <span class="navbar-toggler-bar bar3"></span>
                </button>
              </div>
              <div class="collapse navbar-collapse navbar-dark"id="example-navbar-success">
                <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                     <a class="nav-link"routerLink="login"routerLinkActive="active"><svg class="bi bi-person-fill" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 100-6 3 3 0 000 6z" clip-rule="evenodd"/></svg>login</a>
               </li>
              </ul>
            </div>    
       </nav> -->